.page-header
  %h1= t("views.users_index.title")
%table.table
  %tr
    %th Name
    %th Email
    %th Role
    %th
    %th
  = render :partial => "user", :collection => @users
%br/
- content_for :sidebar do
  = render :partial => "shared/sidebar", :locals => { :options =>  sidebar_options(:users_index) }
