<div class="page-header">
  <h1><%= t("views.users_index.title") %></h1>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => "user", :collection => @users %>
</table>

<br />

<% content_for :sidebar do %>
  <%= render :partial => "shared/sidebar", :locals => { :options =>  sidebar_options(:users_index) } %>
<% end %>
