<div class="page-header">
  <h1><%= t("views.categories_index.title") %></h1>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => "category", :collection => @categories %>
</table>

<br />

<% content_for :sidebar do %>
  <%= render :partial => "shared/sidebar", :locals => { :options =>  sidebar_options(:categories_index) } %>
<% end %>
