<div class="page-header">
  <h1><%= t("views.products_index.title") %></h1>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => "product", :collection => @products  %>
</table>

<br />

<% content_for :sidebar do %>
  <%= render :partial => "shared/sidebar", :locals => { :options =>  sidebar_options(:products_index) } %>
<% end %>
