<div class="page-header">
  <h1>Listing manufacturers</h1>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => "manufacturer", :collection => @manufacturers %>
</table>

<br />

<% content_for :sidebar do %>
  <%= render :partial => "shared/sidebar", :locals => { :options =>  sidebar_options(:manufacturers_index) } %>
<% end %>
