<div class="page-header">
  <h1>New manufacturer</h1>
</div>

<%= render 'form' %>

<% content_for :sidebar do %>
  <div class="well">
    <ul class="nav nav-list">
       <li class="nav-header">Lista opcji:</li>
       <li class="divider"></li>
       <li>
         <%= link_to manufacturers_path do %>
           <i class="icon-home"></i>
           Powrót na listę
         <% end %>
         <%= link_to new_manufacturer_path do %>
           <i class="icon-plus"></i>
           Dodaj producenta
           <% end %>
       </li>
    </ul>
  </div>
<% end %>
